
.app
    max-width 960px
    margin 0 auto
    .btn
        background-color #ff4d4d
        color white
        pointer-events none
    .btn.active
        background-color #00cc66
        pointer-events all
    #row-busqueda .col-md-4
        min-height 230px
        text-align center
    ul
        list-style none
        padding-left 0px
        li  
            a
                cursor pointer
                color white
                padding 5px
            ul
                background-color #f3f3f3
                li 
                    padding 5px
                    border-bottom 1px solid #e7e7e7
                    a
                        cursor pointer
                        color #5b5b5b
                
    header
        background-color #ff3c3c
        color white
        padding 5px
    aside
        background-color #afafaf
        ul
            margin-bottom 0
    .pt-15
        padding-top 15px
    .btn-white
        border 1px solid white
        color white
@media (min-width: 992px)
    .app
        #row-busqueda .col-md-4
            min-height 580px
