
.app
    max-width 960px
    margin 0 auto
    .btn
        background-color #ff4d4d
        color white
        pointer-events none
    .btn.active
        background-color #00cc66
        pointer-events all
    #row-busqueda .col-md-4
        min-height 410px
    li a   cursor pointer