* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.app .btn {
  background-color: #ff4d4d;
  color: #fff;
  pointer-events: none;
}
.app .btn.active {
  background-color: #0c6;
  pointer-events: all;
}
.app #row-busqueda .col-md-4 {
  min-height: 410px;
}
.app li a {
  cursor: pointer;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
