* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.app .btn {
  background-color: #ff4d4d;
  color: #fff;
  pointer-events: none;
}
.app .btn.active {
  background-color: #0c6;
  pointer-events: all;
}
.app #row-busqueda .col-md-4 {
  min-height: 230px;
  text-align: center;
}
.app ul {
  list-style: none;
  padding-left: 0px;
}
.app ul li a {
  cursor: pointer;
  color: #fff;
  padding: 5px;
}
.app ul li ul {
  background-color: #f3f3f3;
}
.app ul li ul li {
  padding: 5px;
  border-bottom: 1px solid #e7e7e7;
}
.app ul li ul li a {
  cursor: pointer;
  color: #5b5b5b;
}
.app header {
  background-color: #ff3c3c;
  color: #fff;
  padding: 5px;
}
.app aside {
  background-color: #afafaf;
}
.app aside ul {
  margin-bottom: 0;
}
.app .pt-15 {
  padding-top: 15px;
}
.app .btn-white {
  border: 1px solid #fff;
  color: #fff;
}
@media (min-width: 992px) {
  .app #row-busqueda .col-md-4 {
    min-height: 580px;
  }
}
.search-form {
  margin-top: 20px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
